.hero
{
    padding-block-start: 30px;
}

.hero__img
{
    text-align: center;
    margin-block-end: 16px;
}

.hero__img img
{
    max-inline-size: 100%;
    block-size: auto;
}

.hero__info
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1
{
    font: var(--headLine4_5);
    margin: 0;
}

h1 span:first-child 
{
    font: var(--body1);
    display: block;
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;
    }

    .hero__info {
        order: 1;
        max-inline-size: 450px;
    }

    .hero__img {
        order: 2;
        text-align: end;
        flex: 1;
    }
}

@media screen and (min-width: 1024px) {
    .hero__img img {
        inline-size: 480px;
        block-size: 500px;
        object-fit: contain;
    }

    h1 {
        font: var(--headLine3);
    }

    h1 span:first-child {
        font: var(--headLine5);
    }
}